# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environnements virtuels
venv/
env/
ENV/
*.egg-info/

# Django
*.log
staticfiles/

# Media - ignorer tout sauf media/images/
media/*
!media/actualites/
!media/actualites/**
!media/photos/
!media/photos/**
# Base de données
db.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.secret
