asgiref==3.8.1
chardet==5.2.0
dj-database-url==3.0.1
Django==5.2.1
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
mysqlclient==2.2.7
openpyxl==3.1.5
pillow==11.2.1
psycopg2==2.9.10
gunicorn
whitenoise
reportlab==4.4.1
sqlparse==0.5.3
tzdata==2025.2
